* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.link_css {
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
  color: #070707;
  margin-bottom: 0;
}

.link_css:hover {
  text-decoration: none;
}

/* navbar section css*/

.drive_navbar {
  background-color: #ffff;
  padding: 0px 20px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-bottom: 1px solid #ced4da;
}

.logo_image {
  width: 100%;
  height: 50px;
  background-color: #ffff;
  padding: 5px;
  mix-blend-mode: darken;
}

.drive_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_of_img {
  display: flex;
  align-items: center;
  gap: 110px;
}

.hum_berger {
  width: 23px;
  height: 23px;
  margin: auto;
  display: none;
}

.user_details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user_name {
  margin-bottom: 0;
}

.image_icons {
  width: 23px;
  height: 23px;
  margin: auto;
}

.profile_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.user_image_icons:is(:hover, .active) {
  border: 1px solid #9dc9f6;
  background-color: #e9ecef;
}
.user_image_icons {
  width: 35px;
  height: 35px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ced4da;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-weight: 600;
}

.section_of_img p {
  margin-bottom: 0;
  font-weight: 600;
}

.icon_style {
  cursor: pointer;
  color: #4b4848;
  margin: 10px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}

/* toggel section of products */
/* for grid icon css */

.hidden_arrow {
  border-radius: 50%;
  border: none;
  background-color: transparent;
  padding: 5px;
  transition: ease 1s;
}

.hidden_arrow:is(:hover, .active) {
  background-color: #dee2e6;
}

.hidden_arrow::after {
  display: none !important;
  border-top: 0.3em solid transparent !important;
}

.switch_to {
  border: none;
  box-shadow: 0 4px 16px rgba(17, 17, 26, 0.1),
    0 8px 32px rgba(17, 17, 26, 0.05);
  padding: 20px !important;
  width: 300px;
}

.dropdown_item {
  align-items: center !important;
  background-color: initial;
  border: 0;
  clear: both;
  color: #36315d;
  display: flex !important;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.5rem 0 !important;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
}

.switch_dots {
  align-items: center;
  background: #d9d9d9;
  border-radius: 50%;
  display: flex;
  height: 32px;
  margin: auto 10px auto 0;
  width: 32px;
}

.switch_to h6 {
  font-size: 1.5rem;
  font-weight: 600;
}

/* popup of userDetails  */
.profile_popup_div {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 6px 0px;
}

.user_details_popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}

.user_details_popup p {
  margin-bottom: 0;
}

.popup_user_image {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ced4da;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 0;
  background-color: var(--user-color);
  font-size: 3rem;
}

.popup_user_name {
  font-size: 1.4rem;
  font-weight: 600;
  color: #343a40bd;
  text-transform: capitalize;
}

.user_role {
  text-transform: capitalize;
}

.user_logout {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 164px;
  padding: 2px 5px;
}

.user_logout:hover {
  color: #ffff;
  transition: all ease-in-out 1s;
  background-color: #9dc9f6;
}

.nav_home {
  color: #070707;
}

.side_icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 1000px) {
  .hum_berger {
    display: block;
  }
  .section_of_img {
    gap: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .section_of_img {
    gap: 5px;
    justify-content: center;
  }

  .logo_image {
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  .logo_image {
    display: none;
  }
  .drive_navbar {
    padding: 5px 20px;
  }
}

/* mobile sidebar css */
.mobile_view_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 60px;
  border-bottom: 1px solid #adb5bd;
  padding: 16px 10px 0px 10px;
  width: 100%;
}

.mobile_logo_image {
  width: 50%;
  height: 50px;
  background-color: #ffff;
  padding: 5px;
  mix-blend-mode: darken;
}

.mobile_sidebar {
  padding: 10px 10px 5px;
}

.mobile_sidebar_tab2 {
  border-radius: 0px 86px 86px 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  justify-content: space-between;
}

.mobile_sidebar_tab_activity {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 25px 8px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  font-weight: 600;
}

.mobile_sidebar_tab_activity:hover {
  list-style: none;
  text-decoration: none;
  background-color: #007bff;
  color: #ffff;
}

.mobile_sidebar_hr {
  border: 1px solid rgb(62, 58, 58);
  width: 100%;
  margin-top: 1rem;
}
