.add_group_div {
  margin-left: 25px;
}
.edit_group_title {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 10px;
  font-size: 20px;

  font-weight: bolder;
  font-style: normal;
  font-size: 18px;
}

.edit_group_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  top: 50px;
  background-color: #fff;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ced4da;
}

.edit_group_input {
  width: 40%;
  background-color: #fff;
  border-radius: 7px;
  padding: 10px;
  margin-right: auto;
  margin-top: 10px;
}

.table_body td {
  text-align: center;
}

.edit_section_message {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px 0px;
}

.edit_save_button {
  font-size: 1rem;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.main_group_container {
  margin: 5px;
}

.group_table {
  width: 100%;
  margin-top: 110px;
}

.group_table tr {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ced4da;
}

.group_table_details {
  border-top: 1px solid #ced4da;
}

.group_file_td {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 25%;
}

.user_image_icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ced4da;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  background-color: #001f40f3;
  /* background-color: var(--user-color); */
}

.group_date_td {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.group_size_td {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.group_owner_td {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  width: 25%;
}
.add_and_back_button_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.back_button {
  text-decoration: none;
  font-weight: 600;
}
.back_button {
  text-decoration: underline;
}
@media screen and (max-width: 1000px) {
  .group_table {
    margin-top: 120px;
  }
  .add_group_div {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 500px) {
  .edit_group_input {
    width: 80%;
  }
  .edit_save_button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add_group_div {
    margin-left: 5px;
  }
  .group_table tr {
    padding: 10px 0px;
    gap: 10px;
  }
}
