  .link_color {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }

  .link_color:hover {
    text-decoration: none;
    color: #000;
  }

  .sidebar_hr {
    margin: 5px;
    border: 1px solid #adb5bd;
    width: 100%;
  }

  .side_nav {
    display: flex;
    margin-top: 10px;
  }

  .sidebar {
    padding: 2px 0px 20px;
    width: 210px;

  }

  .side_contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .sidebar_add_tab {
    background-color: #fff;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 48px;
    padding: 5px 15px;
    margin-bottom: 8px;
    width: 140px;
  }

  .sidebar_add_tab.active {
    font-weight: 600;
    background-color: rgba(0, 123, 255, .25);
    color: #007bff;
  }

  .sidebar_span_add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  .add_new_text {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    color: #000;
    font-weight: 600;
  }

  .add_new {
    font-size: 1.2rem;
  }

  .sidebar_span_recent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }

  .sidebar_tab1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 100vh;
  }

  .sidebar_tab2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .sidebar_tab {
    border-radius: 0px 86px 86px 0px;
    cursor: pointer;
    /* display: flex; */
    align-items: center;
    width: 211px;
    padding: 8px 26px;
    justify-content: space-between;
  }

  .sidebar_tab.active {
    font-weight: 600;
    background-color: rgba(0, 123, 255, .25);
    color: #007bff;
    padding: 8px 0px;
  }

  .sidebar_tab:hover {
    font-weight: 600;
    background-color: rgba(0, 123, 255, .25);
    color: #007bff;
  }

  .side_icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .side_icons span {
    font-size: 0.81rem;
  }

  .sidebar_tab i {
    width: 1rem;
    height: 1.4rem;
    display: flex;
    align-items: center;
  }

  .switch_dots {
    align-items: center;
    background: #d9d9d9;
    border-radius: 50%;
    display: flex;
    height: 25px;
    margin: auto 10px auto 0;
    width: 25px;
  }

  /* add new popup css */
  .add_new_popup_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
        padding: 10px 2px;
  }

  .menu_item {
    margin: 3px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    width: 270px;
  }

  .menu_item:hover {
    background-color: rgba(0, 123, 255, .25);
  }


  @media screen and (max-width:1000px) {
    .sidebar {
      display: none;
    }
  }